.digits {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.section-title {
  width: 76%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle {
  margin-top: auto;
  margin-bottom: 60px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  width: 1100px;
  margin-bottom: 100px;
}

.table_cell {
  text-align: left;
  width: 250px;
}
.table_heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  vertical-align: text-bottom;
}
