.feynman {
  height: 790px;
  background-color: var(--color-fondo-principal);
  position: relative;
}

.feynman__title {
  position: absolute;
  width: 775px;
  left: 410px;
  top: 2px;
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}
.feynman__subtitle {
  width: 775px;
  margin-top: 70px;
  left: 379px;
  bottom: 257px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 3;
  position: absolute;
}
.feynman__link {
  display: flex;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: var(--color-enlaces-formas);
  position: absolute;
  top: 50%;
  right: 48px;
}
.feynman__imge {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: auto;
  margin-right: auto;
  z-index: 1;
}
