.footer {
  min-height: 350px;
  background-color: var(--color-fondo-secundario);
  display: flex;
  position: relative;
}

.footer__columns {
  display: flex;
  margin: 60px auto 40px auto;
  width: 90%;
  justify-content: space-between;
}

.footer__columns_content_copyright {
  width: 711px;
  position: relative;
}
/*.footer__columns_content_abaut {
}

.footer__columns_content_social {
}*/

.logo__place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  color: var(--color-fondo-principal);
  position: absolute;
  bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__columns-heading {
  color: var(--color-fondo-principal);
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.footer__list {
  color: var(--color-fondo-principal);
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__columns-link {
  color: var(--color-fondo-principal);
}
.footer__columns-link:hover {
  animation: sombreado 2s;
}

.footer__social-icons {
  color: var(--color-fondo-principal);
  padding-right: 10px;
}

.footer__list:hover {
  animation: sombreado 2s;
  border-radius: 5px;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
