@keyframes rotacion {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.kaufman {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--color-fondo-secundario);
}
.kaufman__section-title_theme_dark {
  width: 65%;
  text-align: center;
  margin: 90px auto 0 auto;
  z-index: 2;
  color: var(--color-fondo-principal);
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.kaufman__section-subtitle_theme_dark {
  width: 60%;
  text-align: center;
  margin: 20px auto 0 auto;
  z-index: 1;
  color: var(--color-fondo-principal);
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.kaufman__table_theme_dark {
  margin: 0 auto 90px auto;
  width: 1100px;
  z-index: 2;
}

.kaufman__table_cell_theme_dark {
  width: 200px;
  text-align-last: left;
  color: var(--color-fondo-principal);
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__heading_theme_dark {
  color: var(--color-fondo-principal);
}

.kaufman__table-text_theme_dark {
  color: var(--color-fondo-principal);
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman_triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  top: 0;
  z-index: 0;
  animation: rotacion 20s infinite;
}
