.resoursces {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 217px;
}
.section-title {
  margin-bottom: 20px;
}
.section-subtitle {
  margin-top: 0;
  margin-bottom: 80px;
}
.resoursces__logo-zone {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

.resources-tedED:hover {
  background-color: rgba(12, 38, 120, 0.6);
}
.resources-Medium:hover {
  background-color: rgba(12, 38, 120, 0.6);
}
.resources-dezeen:hover {
  background-color: rgba(12, 38, 120, 0.6);
}
.resources-goodreads:hover {
  background-color: rgba(12, 38, 120, 0.6);
}

.resoursces__logo {
  width: 270px;
  height: 38px;
}
