.feynman__title {
  position: absolute;
  width: 775px;
  left: 410px;
  top: 2px;
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}
