:root {
  --color-fondo-principal: #f2f2f2;
  --color-fondo-secundario: #1f1f1f;
  --color-enlaces-formas: #2F80ED;
  --color-negro: #000;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/*Se crean unos bordes para poder ubicar los bloques, por cuetiones de comidida, 
se quitarán una vez se termine el proyecto */


.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--color-fondo-principal);
  position:relative;
}
.logo {
  width: 154px;
  height: 31px;
  position: absolute;
  z-index: 3;
  margin-left: 64px;
  top: 30px;
}
.logo__place_header {}

.header__title {
  width: 730px;
  line-height: 96px;
  z-index: 3;
  position: absolute;
  margin-left: 67px;
  font-size: 102px;
  font-weight: bold;
}
.header__subtitle {
  width: 388px;
  left: 67px;
  bottom: 30px;
  position: absolute;
  z-index: 4;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.header__link {
  color: var(--color-enlaces-formas);
}

.header__main-illustration {
  display: flex;
  width: 756px;
  height: 608px;
  position:absolute;
  right: 10px;
  bottom: 0;
  z-index: 2;
}
.header__square {
  width: 568px;
  height: 568px;
  top:  64px;
  right: 0;
  position:absolute;
  z-index: 0;
  background-color: #2F80ED;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.description {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%; 
  min-width: 784px;
  margin-left: auto;
  margin-right: auto;
}

.two-columns {
  display: flex;
}

.two-columns__brief {
  margin-right: 42px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: var(--color-enlaces-formas);
  width: -webkit-fill-available;
}
.two-columns__main-text {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  justify-content: space-between;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}


.digits {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.section-title {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle {
  margin-top: auto;
  margin-bottom: 60px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  width: 1100px;
  margin-bottom: 100px;
}

.table_cell {
  text-align: left;
  width: 250px;
}
.table_heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  vertical-align: text-bottom;
}

.feynman {
  height: 790px;
  background-color:var(--color-fondo-principal);
  position: relative;
}

.feynman__title {
  position: relative;
  width: 775px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 2;
}
.feynman__subtitle {
  width: 775px;
  margin-top: 70px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 3;
  position: relative;
}
.feynman__link {
  display: flex;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: var(--color-enlaces-formas);
  position: absolute;
  top: 50%;
  right: 48px;
}
.feynman__imge {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.kaufman {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--color-fondo-secundario);
}
.section-title_theme_dark {
  width: 60%;
  text-align: center;
  margin: 90px auto 0 auto;
  z-index: 2;
  color: var(--color-fondo-principal);
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle_theme_dark {
  width: 60%;
  text-align: center;
  margin: 20px auto 0 auto;
  z-index: 1;
  color: var(--color-fondo-principal);
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_dark {
  margin: 0 auto 90px auto;
  width: 1100px;
  z-index: 2;
}

.table_cell_theme_dark {
  width: 200px;
  text-align-last: left;
  color: var(--color-fondo-principal);
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__heading_theme_dark {
  color: var(--color-fondo-principal);
}

.table__text_theme_dark {
  color: var(--color-fondo-principal);
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman_triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  top: 0;
  z-index: 0;
}

.footer {
  min-height: 350px;
  background-color: var(--color-fondo-secundario);
  display: flex;
  position: relative;
}

.footer__columns {
  display: flex;
  margin: 60px auto 40px auto;
  width: 90%;
  justify-content: space-between;
}

.footer__columns_content_copyright {
  width: 711px;
  position: relative;
}
.footer__columns_content_abaut {
}

.footer__columns_content_social {}

.logo__place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  color: var(--color-fondo-principal);
  position: absolute;
  bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__columns-heading {
  color: var(--color-fondo-principal);
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list {
  color: var(--color-fondo-principal);
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__columns-link {
  color: var(--color-fondo-principal);
}

.footer__social-icons {
  color: var(--color-fondo-principal);
  padding-right: 10px;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
