.feynman__link {
  display: flex;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: var(--color-enlaces-formas);
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__link:hover {
  animation: sombreado 2s;
  border-radius: 15px;
}
